<%= form_with(model: map_point, data: {controller: "form-reset"}) do |form| %>
  <% if map_point.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(map_point.errors.count, "error") %> prohibited this map_point from being saved:</h2>

      <ul>
        <% map_point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= turbo_frame_tag :cs_select do %>
    <div data-controller="form-element">
      <%= form.button "Validate", formaction: new_map_point_path, formmethod: :get, data: { form_element_target: "remoteBtn", turbo_frame: :cs_select } %>
      <div class="mb-3">
        <%= form.label :country, style: "display: block" %>
        <%= form.select :country, map_point.countries.invert.sort, { prompt: "Select a Country" }, { class: "form-select", data: {action: "change->form-element#autosubmit"} } %>
      </div>
      <%= map_point.test_text %>
      <div class="mb-3">
        <%= form.label :city, style: "display: block" %>
        <%= form.select :city, map_point.cities, { prompt: "Select a City" }, { class: "form-select", data: {action: "change->form-element#autosubmit" } } %>
      </div>
    </div>
  
    <h8>Coordinates</h8>
    <div class="mb-3">
      <% form.label :latitude, style: "display: block" %>
      <%= form.number_field :latitude, step: "any", class: "form-control", placeholder: "Latitude", value: @map_point.latitude %>
    </div>
    <div class="mb-3">
      <% form.label :longitude, style: "display: block" %>
      <%= form.number_field :longitude, step: "any", class: "form-control", placeholder: "Longitude", value: @map_point.longitude %>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date, class:"form-control" %>
  </div>

  <div class="mb-3">
    <% form.label :short_description, style: "display: block" %>
    <%= form.text_field :short_description, class:"form-control", placeholder:"Short Description" %>
  </div>

  <div class="mb-3">
    <% form.label :long_description, style: "display: block" %>
    <%= form.text_field :long_description, class:"form-control", placeholder:"Long Description" %>
  </div>

  <div class="mb-3">
    <% form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id, id: :map_point_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>
  <br/>
  <div>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
