<div id="<%= dom_id map_point %>">
  <p>
    <strong>Country:</strong>
    <%= map_point.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= map_point.city %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= map_point.date %>
  </p>

  <p>
    <strong>Object:</strong>
    <%= map_point.object %>
  </p>

</div>
