<div id="<%= dom_id map_point %>">
  <p>
    <strong>Country:</strong>
    <%= map_point.country_label %>
  </p>

  <p>
    <strong>City:</strong>
    <%= map_point.city %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= map_point.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= map_point.longitude %>
  </p>

  <p>
    <strong>Start Date:</strong>
    <%= map_point.start_date %>
  </p>

  <p>
    <strong>End Date:</strong>
    <%= map_point.end_date %>
  </p>

  <p>
    <strong>Short Description:</strong>
    <%= map_point.short_description %>
  </p>

  <p>
    <strong>Long Description:</strong>
    <%= map_point.long_description %>
  </p>

</div>
