<% content_for :title, "Map points" %>

<table class="table table-hover">
    <thead class="table">
      <tr>
        <th>City</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>User Id</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @map_points_sorted.each do |map_point| %>
        <% if map_point.user == current_user %>
          <tr>
            <td><%= link_to "#{map_point.city}, #{map_point.country_label}", map_point, class: "point-name-link" %></td>
            <td><%= map_point.latitude %></td>
            <td><%= map_point.longitude %></td>
            <td><%= map_point.start_date %></td>
            <td><%= map_point.end_date %></td>
            <td><%= map_point.user_id %></td>
            <td><%= link_to 'Edit', edit_map_point_path(map_point), class: "btn btn-outline-primary btn-sm" %></td>
            <td><%= link_to 'Delete', map_point, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>

<%= link_to "New map point", new_map_point_path, class: "btn btn-secondary" %>
