<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid">
    <h1 class="display-5 fw-bold"><%= @map_point.city %>, <%= @map_point.country %></h1>
    
    <strong>Latitude: </strong><%= @map_point.latitude %> &nbsp;|&nbsp;
    <strong>Longitude: </strong><%= @map_point.longitude %>
    </br>
    <strong>Start Date: </strong><%= @map_point.start_date %> &nbsp;|&nbsp;  
    <strong>End Date: </strong><%= @map_point.end_date %>

    <p class="col-md-8 fs-5"><%= @map_point.short_description %></p>
    <div>
      <%= link_to "Back to Map", map_path, class: "btn btn-outline-dark" %>&nbsp;&nbsp;
      <%= link_to "Back to Points", map_points_path, class: "btn btn-outline-dark" %>
      </br></br>
      <%= link_to "Edit", edit_map_point_path(@map_point), class: "btn btn-outline-primary" %>&nbsp;&nbsp;
      <%= link_to 'Delete', @map_point, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
    </div>

  </div>
</div>

