<p style="color: green"><%= notice %></p>

<%= render @map_point %>

<div>
  <%= link_to "Edit this map point", edit_map_point_path(@map_point) %> |
  <%= link_to "Back to map points", map_points_path %>

  <%= button_to "Destroy this map point", @map_point, method: :delete %>
</div>
